{% load static %}
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'main/styles/index.css' %}" />
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">
      <div class="title-container">
        <h1 class="title">WikiWorld</h1>
      </div>
      <a href="#" class="btn">Enter</a>
    </div>
  </body>
</html>
